@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
/* H1 ANIMATION */ 
h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: linear-gradient(60deg, #ddba6740 0%, #D4A373 100%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}




@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}


p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #ddba6740 0%, #D4A373 100%);
  color:white;
}
.logo {
  width:250px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/* UNIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON of new file with waves on top and old file on bottom */

h1
{
    text-align: center;
   
}


html
{
    padding: 2%;
   
}

p
{

    font-family: Georgia, 'Times New Roman', Times, serif   ;
}

.carousel-inner
{

  
    height: 300px;
}

.container-fluid
{
    background-color: #ffff;
    margin-bottom: 0px;
}

.navbar-nav
{
    margin-left: 80%; 
   
   
}

.nav-link
{
    background-color: #ddba6740;
    border-radius: 32%;
    margin-left: 20px !important;
    
}

.nav-link:hover
{
    background-color: #ddba67cf;
}

#hero
{
    margin-top: 50px;
}

#img1
{
    float: left;
    margin-left: 50px;
    margin-top:  20px;

}

p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    justify-content: right;
    text-align: right;
    font-size: 1.5rem;
}

h3
{
    text-align: center;
}

#hero1

{
    height: 300px;
    background-color: #ddba6740;
    clear: both;
    
}
#hero2

{
    margin-top: 300px;
    clear: both;
    border-top: 300px;
    height: 300px;
    background-color: #ddba6740;
}


#hero2img
{
    float: right;
    margin-right: 50px;
}

#hero3
{
    margin-top: 300px;
    clear: both;
    border-top: 300px;
    height: 300px;
    background-color: #ddba6740;
}

#hero3img
{

    float:left;
    
    
}

.card-group
{
   
    
    float: center;
}

#offer
{
    float:  center;
    clear: both;
    margin-bottom: 10px;
    margin-top: 320px;
    background-color: #ddba6740;
    
}

.rounded-circle
{
    background-color: #f9dd6b ;
    padding: 2%;
    font-weight: bold;
    width: 20%;
    float: right;
    text-decoration: none;
}
    
    .rounded-circle, .rounded-circle:hover, .rounded-circle:visited, .rounded-circle:active {
      color: inherit;
      text-decoration: none;
     }



.rounded-circle:hover
{
background-color: #76553f ;
font-weight:900;

}
/* BUTTON ANIMATION */



#footer
 {
    background: #ddba6740;
    border-radius: 10%;
   
}
#footer4
 {
    background: #ddba6740;
    border-radius: 10%;
    
   
}



#video
{
    margin-left: 31%;
}


/* SCROLLBAR */
 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddba67;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c09531;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b6d03;
  } 